*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}

#wrapper{
    overflow: hidden;
}

#header .dekstop .top{
    background:#0a4671;
    color: #fff;
    font-size: 14px;
}

#header .dekstop .top .left .tlp{
    padding: 10px 0;
}

.left .tlp i{
    margin-right: 10px;
}

#header .dekstop .top .right .sosmed ul{
    padding: 0;
    margin: 0;
}

#header .dekstop .top .right .sosmed ul li{
    float: left;
    list-style: none;
}

#header .dekstop .top .right .sosmed ul li.fb a{
    background: #39569b;
}

#header .dekstop .top .right .sosmed ul li.twt a{
    background:#2aaae0;
}

#header .dekstop .top .right .sosmed ul li.google a{
    background: #c0382c;
}

#header .dekstop .top .right .sosmed ul li a{
    padding: 10px;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 40px;
}

.after-top{
    background: #031826;
}
.after-top .logo{
    margin-top: 25px;
}
.after-top .menus{
    text-align: right;
}
.after-top .menus ul{
    margin-bottom: 0;
}
.after-top .menus li{
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    color: #808080;
    line-height: 100px;
    margin-right: 20px;
}
.after-top .menus li:last-child{
    margin-right: 0;
}
.after-top .menus li a{
    color: #fff;
    text-decoration: none;
    display: block;
}
.after-top .menus li a:hover{
    color: #1075bd;
    background: url(../img/border.jpg) repeat-x bottom center;
}


#banner{
    background: url(../img/slider-desktop.png) no-repeat center;
    height: 527px;
    color: #fff;
    padding-top: 5%;
}
#banner .left{
    padding-top: 10%;
}
#banner .left h4{
    font-weight: normal;
}
#banner .left h5{
    font-weight: normal;
    color: #fbab3a;
}





@media (max-width: 767.98px){
    #banner{
        background-size: cover;
        height: 100%;
    }
}